

html{
  overflow: auto;
}

html,
div {
  &::-webkit-scrollbar-thumb{
    background: #B3B3B3;
    border-radius: 4px;
  }

  &::-webkit-scrollbar{
    width: 6px;
    height: 6px;
  }
}
a {
  color: black !important;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}